{% extends "blog/layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content | safe }}</p>
    </div>
  </article>
  <div class="comments">
    <h1 class="text-center">All Comments</h1>
    {% for comment in post.comments.all %}
        <div class="col-md-6 comment">
            <div class="date">{{ comment.created_on }}</div>
            <strong>{{ comment.username }} | {{ comment.email }}</strong>
            <hr>
            <p>{{ comment.body|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet !!!!</p>
    {% endfor %}
</div>
  <div class="text-center">
    <h1>Add Comments</h1>
    <div class="col-md-12 add-comment">
      <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Add Comment</button>
      </form>
    </div>
  </div>
{% endblock content %}